* {
  margin: 0;
  padding: 0%;
  /* border: 1px solid rgba(0, 7, 0, 0.829); */
}
body {
  /* 背景 */
  background-image: url(https://img1.baidu.com/it/u=3882214859,3693254387&fm=253&fmt=auto&app=120&f=JPEG?w=1280&h=800);
  background-size: auto 100vh;
  background-repeat: no-repeat;
  /* 布局 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  /* 定位 */
  position: absolute;
  left: 32%;
  top: 7%;
  /* 大小 */
  width: 50vh;
  height: 90vh;
  background: linear-gradient(to bottom, rgb(199, 253, 255), #fffefe);
  /* 字体 */
  font-size: 2em;
  /* flex */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /* 边框 */
  border-radius: 20px;
}

input{
  width: 200px;
  height: 40px;
  background-color: white;
  border: none;
  border-bottom: 4px solid rgb(162, 150, 255);
  font-size: 30px;
  outline: none;
  border-radius: 5px;
}

input::placeholder{
  font-size: 12px;
  background-color: transparent;
}

._g{
  width: 180px;
  height: 36px;
  border: 1px solid #eee;
  border-radius: 18px;
  font-size: 14px;
  cursor: pointer;
}

/* 注册按钮 */
#zc{
  background-color: rgb(183, 183, 255);
  border-radius: 5px;
}

#zc:hover{
  background-color: rgb(0, 255, 157);
  width: 35px;
  height: 30px;
}