/* 这叫外部样式表，用link引入
link rel="stylesheet" type="text/css" href="./index_s.css" */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  background-image: url("https://img1.baidu.com/it/u=2142811971,206741594&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=313");
  min-width: 450px;
  width: 100%;
  /* max-width: 1168px; */
  /* background-color: rgb(219, 217, 217); */
}
#talking_html {
  height: auto;
  width: 30vh;
  background-color: #ffffff;
}
.self {
  background-color: rgb(247, 248, 188);
  text-align: center;
  border-radius: 10%;
  width: 100%;
  height: 30em;
  content: 10px 80px;
  margin: 0px;
}
#handing {
  display: flex;
  font-size: 0.83em;
  padding: 40px 40px;
  font-weight: bold;
  color: #000000;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-self: center;
}
#blbl {
  background-color: rgb(3, 175, 243);
  color: rgb(0, 0, 0);
}
.top {
  padding: 60px 80px;
}
p {
  color: blue;
  font-size: 12px;
}
ul.hand {
  /* 将导航栏设成顶部的样子 */
  margin: 0%;
  border: 0%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #eee;
  width: 100%;
}
/* 以下是导航栏 */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}
li {
  display: inline;
}
a:link,
a:visited {
  font-weight: bold;
  color: #ffffff;
  background-color: #98bf21;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover,
a:active {
  background-color: #7a991a;
}
/* 以上是导航栏 */
#farm {
  font-size: 20px;
}
.ending {
  text-align: center;
  background-color: #eee;
}
div.first {
  display: flex;
  align-self: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  content: 10px 80px;
  margin: 0px;
  background-color: #c4e6fde7;
}

.first_r {
  height: 100%;
  width: 100%;
  margin: 1px;
  border: 1px solid rgba(0, 7, 0, 0.829);
  font-size: 26px;
}
.first_r_1 {
  height: 25%;
  width: 100%;
  margin: 0px;
  display: flex;
  border: 1px solid rgba(0, 7, 0, 0.829);
  background-color: #eee;
}

div.first_r {
  background-color: #eee;
  color: #eee;
}
div.first_r::before {
  display: block;
  content: "翻牌了解";
  background-color: rgb(0, 193, 252);
  color: rgb(0, 0, 0);
  font-size: 0.82em;
  position: relative;
  height: 45%;
  width: 100%;
}

div.first_r:hover {
  color: red;
}

/*测试样例*/
* {
  border: 1px solid rgba(0, 7, 0, 0.829);
}

/* 
    //flex盒子有几个属性：
    //主轴（横轴）main axis交叉轴
    //默认有：
    //flex-direction:row横向排列
    //justify-content:center 改变交叉轴位置(控制竖轴)
    //align-items:start改变主轴位置(控制横轴)
 */
/* 
 Margin(外边距) - 清除边框外的区域，外边距是透明的。
Border(边框) - 围绕在内边距和内容外的边框。
Padding(内边距) - 清除内容周围的区域，内边距是透明的。
Content(内容) - 盒子的内容，显示文本和图像。*/
