<nav class="navbar">
    <div class="navbar-container">
      <a href="/" class="navbar-brand">圆滚滚的小毛</a>
      <button class="navbar-toggle" aria-label="菜单">
        <span></span>
        <span></span>
        <span></span>
      </button>
    <ul class="navbar-menu">
        <li><a href="/">🏠 主页</a></li>
        <li><a href="https://gitee.com/soul-fox" target="_blank">🐎 Gitee</a></li>
        <li><a href="./docs/hearing/login.html">💬 论坛</a></li>
        <li><a href="https://github.com/BiliBiliSmallball">我的github主页</a></li>
        <li><a href="https://chat.deepseek.com/">A.I.问答</a></li>
        <li><a href="WangPang_QiShiYe.html">起始页</a></li>
    </ul>
    </div>
</nav>